@model IEnumerable<ComputerJunctionMVC.Models.Brand>

@{
    ViewData["Title"] = "Index";
}
<!--Changed background-->
<style>
    body {
        background-image: url('http://3.bp.blogspot.com/-v8ZYYOsrxSw/TszKazK0n_I/AAAAAAAABf8/P0clWXoDJdo/s1600/USB_HD_Wallpapers_Background_Vvallpaper.net.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
